.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas:"nav nav"
                        "ourdrinks ourdrinks"
                        "ingredients ingredients"
                        "drinkb drinkb"
                        "drink1 drink2"
                        "drink3 drink4"
                        "drink5 drink6"
                        "sponserheader sponserheader"
                        "sponserimg sponserimg"
                        "sponsertext sponsertext"
                        "sponser sponser"
                        "ad1 ad2"
                        "sponser2 sponser2"
                        "up up"
                        "footer footer"
                        "options options"
                        "copyright copyright";
 }
  
 :root {
    --brown1 : #EEE2D5;
    --brown2 : #C4B5A6;
    --brown3 : #847564;
    --brown4 : #554939;
   }
  
    body {
        background-color: var(--brown1);
        margin: 0px;
        font-family: 'Times New Roman', Times, serif;
        line-height: 40px;
        font-size: larger;
        text-align: center;
        color: var(--brown4);
    }
  
    /* styling for the header of the home page */
    .header {
        grid-area: nav;
        width: 100vw;
        font-weight: 300;
        padding-bottom: 30px;
        position: absolute;
    }
  
    .header img {
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }
  
    /* styling for the navigation bar in the header */
    .header nav {
        display: flex;
        justify-content: space-evenly;
        float: inline-start;
        list-style: none;
        color: var(--brown4);
        padding-right: 10vw;
        background-color: var(--brown1);
        opacity: 65%;
    }
  
    .header nav li {
        display: inline;
        text-transform: uppercase;
        position: relative;
        padding-top: 25px;
        transition: transform 0.5s;
  
    }
  
    /* code for hovering over the index subpages */
    .header nav li:hover {
        color: black;
        transform: scale(1.05);
    }
  
    .header nav li::before {
        content: "";
        display: block;
        height: 1px;
        background-color: black;
        position: absolute;
        width: 0%;
        transition: all ease-in-out 250ms;
    }
  
    .header nav li:hover::before {
        width: 100%;
    }
  
    .header2 {
        display: none;
    }
  
    .myInd {
        display: none;
    }
  
    .ourdrinks {
        grid-area: ourdrinks;
        margin-left: 10vw;
        margin-right: 10vw;
    }
  
    .ourdrinks img {
        transition: transform 1s;
        width: 150px;
        margin-right: 50px;
        margin-left: 6vh;
    }
  
    .ourdrinks img:hover {
        transform: scale(1.3);
    }
  
    .ingredients {
        grid-area: ingredients;
        list-style: circle;
    }
  
    .ingredients li {
        font-size: 15px;
        line-height: 4vh;
    }
  
    .drinkb {
        grid-area: drinkb;
        display: inline;
        margin-bottom: 20vh;
        margin-top: 50px;
        padding-bottom: 70px;
        padding-top: 30px;
        background-color: var(--brown2);
    }
  
    .drinkb img {
        width: 6vw;
        margin-left: 10px;
        margin-right: 10px;
        display: inline;
        transition: transform 0.8s;
        }
  
    .drinkb img:hover {
        transform: scale(1.3);
    }
  
    .drinkb figcaption {
        font-size: x-small;
        display: inline;
    }
  
    .drink1 {
        grid-area: drink1;
        font-size: smaller;
        line-height: 30px;
        padding: 30px;
    }
  
    .drink1 p {
        margin-bottom: 100px;
    }
  
    .drink1 img{
        width: 25vw;
        float: left;
        border-color: var(--brown2);
        border-width: thin;
        border-style: solid;
        padding: 10px;
        margin: 30px;
        margin-left: 0;
    }
  
    .drink1 h3 {
        padding-top: 20px;
    }
  
  
    .drink2 {
        grid-area: drink2;
        font-size: smaller;
        line-height: 30px;
        padding: 30px;
    }
  
    .drink2 img{
        width: 25vw;
        float: left;
        border-color: var(--brown2);
        border-width: thin;
        border-style: solid;
        padding: 10px;
        margin: 30px;
        margin-left: 0;
    }
   
    .drink2 p {
        margin-bottom: 100px;
    }
  
    .drink2 h3 {
        padding-top: 20px;
    }
  
    .drink3 {
        grid-area: drink3;
        font-size: smaller;
        line-height: 30px;
        padding: 30px;
    }
  
    .drink3 img{
        width: 25vw;
        float: left;
        border-color: var(--brown2);
        border-width: thin;
        border-style: solid;
        padding: 10px;
        margin: 30px;
        margin-left: 0;
    }
  
    .drink3 p {
        margin-bottom: 100px;
    }
  
    .drink3 h3 {
        padding-top: 20px;
    }
  
    .drink4 {
        grid-area: drink4;
        font-size: smaller;
        line-height: 30px;
        padding: 30px;
    }
  
    .drink4 img{
        width: 25vw;
        float: left;
        border-color: var(--brown2);
        border-width: thin;
        border-style: solid;
        padding: 10px;
        margin: 30px;
        margin-left: 0;
    }
  
    .drink4 p {
        margin-bottom: 100px;
    }
  
    .drink4 h3 {
        padding-top: 20px;
    }
  
    .drink5 {
        grid-area: drink5;
        font-size: smaller;
        line-height: 30px;
        padding: 30px;
    }
  
    .drink5 img{
        width: 25vw;
        float: left;
        border-color: var(--brown2);
        border-width: thin;
        border-style: solid;
        padding: 10px;
        margin: 30px;
        margin-left: 0;
    }
  
    .drink5 p {
        margin-bottom: 100px;
    }
  
    .drink5 h3 {
        padding-top: 20px;
    }
  
    .drink6 {
        grid-area: drink6;
        font-size: smaller;
        line-height: 30px;
        padding: 30px;
    }
  
    .drink6 img{
        width: 25vw;
        float: left;
        border-color: var(--brown2);
        border-width: thin;
        border-style: solid;
        padding: 10px;
        margin: 30px;
        margin-left: 0;
    }
  
    .drink6 p {
        margin-bottom: 100px;
    }
  
    .drink6 h3 {
        padding-top: 20px;
    }

        /* styling for the sponsor */

    .sponserheader {
        grid-area: sponserheader;
        background-color: var(--brown2);
    }
  
    .sponserimg {
        grid-area: sponserimg;
        background-color: var(--brown2);
        padding-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
  
    .sponserimg img {
        width: 20vw;
        border-color: var(--brown3);
        border-width: thin;
        border-style: solid;
        padding: 20px;
        transition: transform 0.5s;
    }
  
    .sponserimg img:hover {
        transform: scale(1.03);
    }
  
    .sponsertext {
        grid-area: sponsertext;
        background-color: var(--brown2);
        padding-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
  
    .sponsertext img {
        width: 20vw;
    }
  
    .sponser {
        grid-area: sponser;
        font-size: 20px;
        background-color: var(--brown2);
        list-style: circle;
        padding: 7vh;
    }

  
    .ad1 {
        grid-area: ad1;
        border: var(--brown2);
        border-width: 2px;
        border-style: solid;
        margin: 7vw;
        font-size: 20px;
        line-height: 7vh;
        padding: 20px;
        color: var(--brown3);
    }
  
    .ad1 img {
        width: 25vw;
    }
  
    .ad1 p {
        padding: 3vw;
    }
  
    .ad2 {
        grid-area: ad2;
        border: var(--brown2);
        border-width: 2px;
        border-style: solid;
        margin: 7vw;
        font-size: 20px;
        line-height: 7vh;
        padding: 20px;
        color: var(--brown3);
    }
  
    .ad2 img {
        width: 25vw;
    }
  
    .ad2 p {
        padding: 3vw;
    }


    /* styling for the anna news sponsor */
  
    .sponser2 {
        grid-area: sponser2;
        font-size: 20px;
        background-color: var(--brown2);
        padding-right: 10vw;
        padding-left: 10vw;
        padding-bottom: 7vh;
        padding-top: 4vh;
    }
  
    .sponser2 img{
        margin-right: 5vw;
        margin-left: 5vw;
        border-color: var(--brown3);
        border-width: 2px;
        border-style: solid;
        padding: 20px;
        transition: transform 0.8s;
    }
  
    .sponser2 img:hover {
        transform: scale(1.06);
    }

    .sponser2 h4:hover {
        transform: scale(1.1);
    }

    .sponser2 h4 {
        transition: 0.8s;
    }

  
  
    /* code for the back to top button */
    .top {
        grid-area: up;
        color: var(--brown3);
        transition: 1s;
        margin-top: 70px;
    }
  
    .top:hover {
        transform: scale(1.2);
    }
  
    /* code for the footer of the page */
    .footer {
        grid-area: footer;
        font-size: small;
        line-height: 10px;
        margin-top: 50px;
    }
  
    .options {
        grid-area: options;
        margin-top: 70px;
        margin-bottom: 30px;
        font-size: small;
        line-height: 10px;
        display: flex;
        justify-content: space-evenly;
    }
  
    .copyright {
        grid-area: copyright;
        font-size: small;
        line-height: 10px;
        margin-bottom: 20px;
    }
  
  
    @media (max-width: 1200px) {
        .wrapper {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto auto auto auto;
            grid-template-areas: "nav"
                                "ourdrinks"
                                "ingredients"
                                "drinkb"
                                "drink1"
                                "drink2"
                                "drink3"
                                "drink4"
                                "drink5"
                                "drink6"
                                "sponserheader"
                                "sponserimg"
                                "sponsertext"
                                "sponser"
                                "ad1"
                                "ad2"
                                "sponser2"
                                "up"
                                "footer"
                                "options"
                                "copyright";
                }
  
    .drink1 img {
        width: 40vw;
    }
  
    .drink1 p {
        margin-bottom: 20px;
    }
  
    .drink1 h5 {
        line-height: 2vh;
    }
  
    .drink1 li {
        font-size: 13px;
        line-height: 2vh;
    }
  
    .drink2 img {
        width: 40vw;
    }
  
    .drink2 p {
        margin-bottom: 20px;
    }
  
    .drink2 h5 {
        line-height: 2vh;
    }
  
    .drink2 li {
        font-size: 13px;
        line-height: 2vh;
    }
  
    .drink3 img {
        width: 40vw;
    }
  
    .drink3 p {
        margin-bottom: 20px;
    }
  
    .drink3 h5 {
        line-height: 2vh;
    }
  
    .drink3 li {
        font-size: 13px;
        line-height: 2vh;
    }
  
    .drink4 img {
        width: 40vw;
    }
  
    .drink4 p {
        margin-bottom: 20px;
    }
  
    .drink4 h5 {
        line-height: 2vh;
    }
  
    .drink4 li {
        font-size: 13px;
        line-height: 2vh;
    }
  
    .drink5 img {
        width: 40vw;
    }
  
    .drink5 p {
        margin-bottom: 20px;
    }
  
    .drink5 h5 {
        line-height: 2vh;
    }
  
    .drink5 li {
        font-size: 13px;
        line-height: 2vh;
    }
  
    .drink6 img {
        width: 40vw;
    }
  
    .drink6 p {
        margin-bottom: 20px;
    }
  
    .drink6 h5 {
        line-height: 2vh;
    }
  
    .drink6 li {
        font-size: 13px;
        line-height: 2vh;
    }
  
    }
  
    @media (max-width: 800px) {
        .wrapper {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto auto auto auto;
            grid-template-areas: "nav"
                                "ourdrinks"
                                "ingredients"
                                "drinkb"
                                "drink1"
                                "drink2"
                                "drink3"
                                "drink4"
                                "drink5"
                                "drink6"
                                "sponserheader"
                                "sponserimg"
                                "sponsertext"
                                "sponser"
                                "ad1"
                                "ad2"
                                "sponser2"
                                "up"
                                "footer"
                                "options"
                                "copyright";
                }
       .header nav {
            display: none;
        }
  
        .afterheader {
            position: relative;
        }
  
        .title {
            display: block;
        }
  
        .header2 {
            grid-area: header2;
            float: left;
            display: inline;
            position: absolute;
            display: flex;
            background-color: var(--brown1);
            opacity: 65%;
            padding-right: 90vw;
            padding-top: 2vw;
            height: 5vh;
            padding-left: 3vw;
        }
  
        .myInd {
            display: inline;
            left: -250px;
            position : fixed;
            width: 200px;
            padding : 0 10px 50px;
            border-style: solid;
            border-width: thin;
            border-color: var(--brown3);
            opacity: 0%;
            transition: 1s;
            height: 100vh;
            background-color: var(--brown2);
        }
  
        .myInd li {
            width : 50%;
            padding : 10px;
            margin : 0 auto;
            margin-bottom: 5vh;
            transition: 0.5s;
            list-style: none;
            text-transform: uppercase;
            font-size: 17px;
        }
  
        .myInd img {
            margin: 30px;
            margin-top: 90px;
            margin-bottom: 70px;
        }
  
        .myInd li:hover {
            transform: scale(1.3);
            color: black;
        }
  
        #closeWindow {
            position : absolute;
            font-size: xx-large;
            top: 10px;
            left: 20px;
            transition: transform 1s;
        }
  
        #closeWindow:hover {
            transform: scale(1.15);
            color: black;
        }
  
    .ourdrinks p {
        font-size: 15px;
        line-height: 7vh;
    }
  
    .drink1 img {
        width: 85vw;
    } 
   
    .drink1 {
        line-height: 5vh;
    }
  
    .drink1 li {
        line-height: 4vh;
    }
   
    .drink2 img {
        width: 85vw;
    }  
   
    .drink2 {
        line-height: 5vh;
    }
  
    .drink2 li {
        line-height: 4vh;
    }
  
    .drink3 img {
        width: 85vw;
    } 
  
    .drink3 {
        line-height: 5vh;
    }
  
    .drink3 li {
        line-height: 4vh;
    } 
  
    .drink4 img {
        width: 85vw;
    }    
  
    .drink4 {
        line-height: 5vh;
    }
  
    .drink4 li {
        line-height: 4vh;
    }
  
    .drink5 img {
        width: 85vw;
    }
  
    .drink5 {
        line-height: 5vh;
    }
  
    .drink5 li {
        line-height: 4vh;
    } 
  
    .drink6 img {
        width: 85vw;
    }    
  
    .drink6 {
        line-height: 5vh;
    }
  
    .drink6 li {
        line-height: 4vh;
    }
  
    .ad1 {
        font-size: 15px;
    }
  
    .ad2 {
        font-size: 15px;
    }

    .sponser {
        font-size: 15px;
    }

    .sponser2 {
        font-size: 15px;
    }
  
    }
 